<!DOCTYPE html>
{% load staticfiles %}
{% load index %}

<html lang="ko">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/style.css?{% now 'U' %}"/>
  <title>Device list</title>
</head>
<body>
  <table width ="500" align = "center">
    <th><h1>manufacture</h1></th>
    <th><h1>deviceID</h1></th>
    <th><h1>deviceName</h1></th>
    <th><h1>version</h1></th>
    <th><h1>check</h1></th>
    {% for Devicedata in Devicedatas %}
    <tr>
      <td class="tablecss"><h2>{{Devicedata.manufacture}}</h2></td>
      <td class="tablecss"><h2>{{Devicedata.deviceid}}</h2></td>
      <td class="tablecss"><h2>{{Devicedata.deviceName}}</h2></td>
      <td class="tablecss"><h2>{{Devicedata.firmware_version}}</h2></td>

          {%if firmware_checks|index:forloop.counter0 %}
              <td class="tablecss"><img class="foucol" src="{% static 'img/green.png' %}" alt="green" height="20px" width="20px">
          {% else %}
              <td class="tablecss"><img class="foucol" src="{% static 'img/red.png' %}" alt="red" height="20px" width="20px">
          {% endif %}

      <td><button class="button" type="button" name="modify"><a href="{% url 'editdev' Devicedata.id %}">modify</a></button></td>
      <td><button class="button" type="button" name="delete"><a href="{% url 'deletedev' Devicedata.id %}">delete</a></button></td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
