<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/style.css?{% now "U" %}"/>
  <title>Firmware list</title>
</head>
<body>
  <table width ="500" align ="center">
      <th><h1>manufacture</h1></th>
      <th><h1>deviceName</h1></th>
      <th><h1>version</h1></th>
      <th><h1>number</h1></th>
      <th><h1>file path</h1></th>
    {% for Firmwaredata in Firmwaredatas %}
    <tr>
      <td class="tablecss"><h2>{{Firmwaredata.manufacture}}</h2></td>
      <td class="tablecss"><h2>{{Firmwaredata.deviceName}}</h2></td>
      <td class="tablecss"><h2>{{Firmwaredata.firmware_version}}</h2></td>
      <td class="tablecss"><h2>{{Firmwaredata.firmware_number}}</h2></td>
      <td class="tablecss"><h2>{{Firmwaredata.file}}</h2></td>
      <td><button class="button" type="button" name="modify2"><a href="{% url 'editfirm' Firmwaredata.id %}">modify</a></button></td>
      <td><button class="button" type="button" name="delete2"><a href="{% url 'deletefirm' Firmwaredata.id %}">delete</a></button></td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
