<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>device list</title>
</head>
<body>
  <h1> &nbsp; &nbsp; manufacturer &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; version &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; file_name </h1>
  <table>
    <tr>
      <td><h2 class="fircol2">hyundai</h2></td>
      <td><h2 class="seccol2">v.001</h2></td>
      <td><h2 class="thicol2">example_01.py</h2></td>
      <td><button class="button3" type="button" name="modify2">modify</button></td>
      <td><button class="button4" type="button" name="delete2">delete</button></td>
    </tr>
  </table>
</body>
</html>
